{{! @glint-nocheck: not typesafe yet }}
{{! template-lint-disable no-inline-styles }}
{{! template-lint-disable template-length }}
<div
  style={{@customClass}}
  class="{{@theme.pagination.controls}} yeti-table-pagination-controls"
  ...attributes
>
  {{#if (not-eq @paginationData.totalRows 0)}}
    <div class="yeti-table-pagination-buttons">
      {{! template-lint-disable no-bare-strings }}
      <button
        type="button"
        class="{{@theme.pagination.previous}}
          yeti-table-pagination-controls-previous"
        disabled={{this.shouldDisablePrevious}}
        title={{t "global.previous"}}
        {{on "click" @paginationActions.previousPage}}
      >
        <img src="/assets/icons/chevron-left.svg" alt="Précédent" />
        <span class="sr-only">
          {{t "global.previous"}}
        </span>
      </button>
      <button
        type="button"
        class="{{@theme.pagination.next}} yeti-table-pagination-controls-next"
        disabled={{this.shouldDisableNext}}
        title={{t "global.next"}}
        {{on "click" @paginationActions.nextPage}}
      >
        <span class="sr-only">
          {{t "global.next"}}
        </span>
        <img src="/assets/icons/chevron-right.svg" alt="Suivant" />
      </button>
    </div>
  {{/if}}
  <div>
    <div
      class="{{@theme.pagination.info}}
        yeti-table-pagination-controls-page-info"
    >
      {{@paginationData.pageStart}}
      -
      {{@paginationData.pageEnd}}
      {{t "global.table.on"}}
      {{@paginationData.totalRows}}
      {{t "global.table.results"}}
    </div>
    <div
      class="{{@theme.pagination.pageSize}}
        yeti-table-pagination-controls-page-size"
    >
      {{t "global.table.resultsByPage"}}:
      {{! template-lint-disable require-input-label }}
      <select disabled={{@disabled}} {{on "change" this.changePageSize}}>
        {{#each this.pageSizes as |pageSize|}}
          <option
            value={{pageSize}}
            selected={{eq @paginationData.pageSize pageSize}}
          >
            {{pageSize}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>
</div>