<ChangesetForm
  class="px-4 py-8 mt-8 bg-white rounded-lg shadow space-y-6 sm:px-10 sm:mx-auto sm:w-full sm:max-w-md"
  @onSubmit={{@saveFunction}}
  @changeset={{@changeset}}
  ...attributes
>
  <TpkValidationInput
    class="input_block pb-9"
    @label={{t "components.forms.reset-password.new_password"}}
    @changeset={{@changeset}}
    @validationField="password"
    data-test-input="password"
  />
  <TpkValidationInput
    class="input_block pb-9"
    @label={{t "components.forms.reset-password.confirm_new_password"}}
    @changeset={{@changeset}}
    @validationField="confirmPassword"
    data-test-input="confirmPassword"
  />
  <button data-test-submit type="submit" class="w-full">
    {{t "components.forms.reset-password.validate"}}
  </button>
</ChangesetForm>