{{page-title "Soundcloud Saloon"}}

<div>
  <div class="bg-gray-800">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="border-b border-gray-700">
          <div class="flex items-center justify-between h-16 px-4 sm:px-0">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <img
                  class="h-8 w-8"
                  src="https://assets.stickpng.com/thumbs/58af04446c252499281ae91f.png"
                  alt="Workflow"
                />
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <LinkTo
                    @route="index"
                    @activeClass="activeMenu"
                    class="menuItem text-gray-300 px-3 py-2 rounded-md text-sm font-medium"
                  >
                    Accueil
                  </LinkTo>
                  <LinkTo
                    @route="search"
                    @activeClass="activeMenu"
                    class="menuItem text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium"
                  >
                    Rechercher
                  </LinkTo>
                  <LinkTo
                    @route="favorites"
                    @activeClass="activeMenu"
                    class="menuItem text-gray-300 hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium"
                  >
                    Favoris
                  </LinkTo>
                </div>
              </div>
            </div>
            <div class="-mr-2 flex md:hidden">
              <button
                type="button"
                class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:bg-gray-700 focus:outline-none"
                aria-controls="mobile-menu"
                aria-expanded="false"
                {{on "click" this.toggleMenu}}
              >
                <span class="sr-only">Open main menu</span>
                <svg
                  class="{{if this.isOpen "hidden" "block"}} h-8 w-8"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                  ></path>
                </svg>
                <svg
                  class="{{if this.isOpen "block" "hidden"}} h-8 w-8"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="border-b border-gray-700
          {{if this.isOpen "block" "hidden"}}
          md:hidden"
        id="mobile-menu"
      >
        <div class="flex flex-col px-2 py-3 space-y-1 sm:px-3">
          <LinkTo
            @route="index"
            @activeClass="activeMenu"
            class="menuItem text-gray-300 px-3 py-2 rounded-md text-base font-medium"
          >
            Accueil
          </LinkTo>
          <LinkTo
            @route="search"
            @activeClass="activeMenu"
            class="menuItem text-gray-300 px-3 py-2 rounded-md text-base font-medium"
          >
            Rechercher
          </LinkTo>
          <LinkTo
            @route="favorites"
            @activeClass="activeMenu"
            class="menuItem text-gray-300 px-3 py-2 rounded-md text-base font-medium"
          >
            Favoris
          </LinkTo>
        </div>
      </div>
    </nav>
    <header class="py-10">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-white">
          {{this.activeRoute}}
        </h1>
      </div>
    </header>
  </div>

  <main>
    <div class="max-w-7xl mx-auto pb-12">
      <div class="bg-white px-5 py-6 sm:px-6">
        {{outlet}}
      </div>
    </div>
  </main>
</div>